/*
    Nav Bar
*/
$ui-nav-bar-primary-background: rgb(12, 16, 24);
$ui-nav-bar-primary-text: rgb(0, 247, 62);

/*
    Container
*/
$ui-container-primary-background: rgb(12, 16, 24);
$ui-container-primary-text: rgb(216, 219, 217);