<div class = "ui-nav-bar">
  <span style = "font-size: 18px; font-weight: bold;">NoAnTs</span>
</div>
<div class = "ui-container">
  <div class = "ui-example">
    Welcome to the <b>NoAnTs</b><br><br>
    <b class = "ui-highlight">No</b> - Node.js<br>
    <b class = "ui-highlight">An</b> - Angular<br>
    <b class = "ui-highlight">Ts</b> - Typescript<br><br>
    This is a boilerplate to build an application that uses:<br>
    Angular as front-end and Node.js with TypeScript as back-end.
  </div>
</div>
<div class = "ui-credits">
  Credits to <b class = "ui-highlight">Hanor Sátiro Cintra</b>
</div>