@import '../app.component.scss';

.ui-nav-bar {
    float: left;
    height: 60px;
    width: 100%;
    background: $ui-nav-bar-primary-background;
    color: $ui-nav-bar-primary-text;
    line-height: 60px;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
    font-family: Verdana, Helvetica;
}
.ui-container {
    float: left;
    display: flex;
    width: 100%;
    height: calc(100% - 110px);
    background: $ui-container-primary-background;
    align-items: center;
    align-content: center;
}
.ui-credits {
    float: left;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding-left: 20px;
    font-size: 18px;
    background: $ui-nav-bar-primary-background;
    color: $ui-container-primary-text;
}

.ui-example {
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: $ui-container-primary-text;
}
.ui-highlight {
    color: $ui-nav-bar-primary-text;
}